<div>
    <app-page-breadcrumb pageTitle="Gestion des Rôles" />

    <!-- Form Section -->
    <div class="rounded-sm border border-stroke  p-4 mb-6">
        <h3 class="font-medium text-black dark:text-white text-lg mb-4">{{ editMode ? 'Modifier' : 'Créer' }} un Rôle
        </h3>
        <form (ngSubmit)="onSubmit()" #myForm="ngForm">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <app-label>Nom</app-label>
                    <app-input-field placeholder="Ex : Admin" id="name" [(ngModel)]="role.name" name="name"
                        required></app-input-field>
                </div>
                <div>
                    <app-label>Permissions</app-label>
                    <div class="flex flex-wrap gap-4">
                        <div *ngFor="let permission of permissions">
                            <label class="flex items-center gap-2" [for]="'permission_' + permission.name">
                                <input type="checkbox" [id]="'permission_' + permission.name"
                                    [name]="'permission_' + permission.name"
                                    [checked]="isPermissionSelected(permission)"
                                    (change)="onPermissionChange(permission, $event)" />
                                {{ permission.name }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex justify-end gap-4 mt-6">
                <app-button size="md" variant="primary" type="submit">
                    {{ editMode ? "Mettre à jour" : "Créer" }}
                </app-button>
                <app-button *ngIf="editMode" size="md" (click)="resetForm()">
                    Annuler
                </app-button>
            </div>
        </form>
    </div>

    <!-- Table Section -->
    <app-datatable
      [data]="roles"
      [columns]="columns"
      title="Liste des Rôles"
      fileName="roles"
      [showExportButtons]="true"
      [pageSize]="10"
      (onEdit)="onEdit($event)"
      (onDelete)="onDelete($event)">
    </app-datatable>
</div>