<app-component-card
  title="Input States"
  desc="Validation styles for error, success and disabled states on form controls."
>
  <div class="space-y-5 sm:space-y-6">
    <!-- Error Input -->
    <div>
      <app-label>Email</app-label>
      <app-input-field
        id="email"
        type="email"
        [(ngModel)]="email"
        [error]="error"
        (ngModelChange)="validateEmail(email)"
        placeholder="Enter your email"
        [hint]="error ? 'This is an invalid email address.' : ''"
      />
    </div>

    <!-- Success Input -->
    <div>
      <app-label>Email</app-label>
      <app-input-field
        id="email-two"
        type="email"
        [(ngModel)]="emailTwo"
        [success]="!error && emailTwo !== ''"
        placeholder="Enter your email"
        [hint]="!error && emailTwo !== '' ? 'This is an success message.' : ''"
      />
    </div>

    <!-- Disabled Input -->
    <div>
      <app-label>Email</app-label>
      <app-input-field
        id="email-three"
        type="text"
        [ngModel]="'disabled@example.com'"
        [disabled]="true"
        placeholder="Disabled email"
      />
    </div>
  </div>
</app-component-card>