<div>
    <app-page-breadcrumb pageTitle="Utilisateurs" />

    <!-- Form Section -->
    <div class="rounded-sm border border-stroke p-4 mb-6">
        <h3 class="font-medium text-black dark:text-white text-lg mb-4">{{ editMode ? 'Modifier' : 'Créer' }} un Utilisateur</h3>
        <form (ngSubmit)="onSubmit()" #userForm="ngForm">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <app-label for="nom">Nom</app-label>
                    <app-input-field id="nom" name="nom" [(ngModel)]="user.nom" required />
                </div>
                <div>
                    <app-label for="prenom">Prénom</app-label>
                    <app-input-field id="prenom" name="prenom" [(ngModel)]="user.prenom" required />
                </div>
                <div>
                    <app-label for="username">Nom d'utilisateur</app-label>
                    <app-input-field id="username" name="username" [(ngModel)]="user.username" required />
                </div>
                <div>
                    <app-label for="telephone">Contact</app-label>
                    <app-input-field id="telephone" name="telephone" [(ngModel)]="user.contact" required />
                </div>
                <div>
                    <app-label for="email">Email</app-label>
                    <app-input-field id="email" name="email" type="email" [(ngModel)]="user.email" required [pattern]="emailPattern" />
                </div>
                <div>
                    <app-label for="password">Mot de passe</app-label>
                    <app-input-field id="password" name="password" type="password" [(ngModel)]="user.password" [required]="!editMode" />
                </div>
                <div>
                    <app-label for="roles">Rôle</app-label>
                    <select id="roles" name="roles" [(ngModel)]="user.roles" required class="dark:bg-dark-900 h-[42px] w-full rounded-lg border
                         border-gray-300 bg-transparent py-2.5 px-4 text-sm text-gray-800 shadow-theme-xs
                          placeholder:text-gray-400 focus:border-brand-300 focus:outline-hidden focus:ring-3
                           focus:ring-brand-500/10 dark:border-gray-700 dark:bg-gray-900
                            dark:text-white/90 dark:placeholder:text-white/30 dark:focus:border-brand-800"
                    >
                        <option [ngValue]="undefined" disabled>Sélectionner un rôle</option>
                        <option *ngFor="let role of roles" [ngValue]="role">{{ role.name }}</option>
                    </select>
                </div>
                <div class="flex items-center gap-2">
                    <input type="checkbox" id="isActive" name="isActive" [(ngModel)]="user.active" class="form-checkbox h-5 w-5 text-brand-500 rounded focus:ring-brand-400" />
                    <app-label for="isActive">Actif</app-label>
                </div>
            </div>

            <div class="flex justify-end gap-4 mt-6">
                <app-button type="submit" variant="primary">{{ editMode ? "Mettre à jour" : "Créer" }}</app-button>
                <app-button *ngIf="editMode" (click)="resetForm()">Annuler</app-button>
            </div>
        </form>
    </div>

    <!-- Table Section -->
    <app-datatable
      [data]="users"
      [columns]="columns"
      title="Liste des Utilisateurs"
      fileName="utilisateurs"
      [showExportButtons]="true"
      [pageSize]="10"
      (onEdit)="onEdit($event)"
      (onDelete)="onDelete($event)">
    </app-datatable>
</div>
