<div>
    <app-page-breadcrumb pageTitle="Gestion des Niveaux" />

    <!-- Form Section -->
    <div class="rounded-sm border border-stroke  p-4 mb-6">
        <h3 class="font-medium text-black dark:text-white text-lg mb-4">{{ editMode ? 'Modifier' : 'Créer' }} un Niveau</h3>
        <form (ngSubmit)="onSubmit()" #myForm="ngForm">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                <div>
                    <app-label>Libellé</app-label>
                    <app-input-field
                        placeholder="Ex : Licence 1"
                        id="libelle"
                        [(ngModel)]="niveau.libelle"
                        name="libelle"
                        required
                    ></app-input-field>
                </div>
            </div>

            <div class="flex justify-end gap-4 mt-6">
                <app-button
                    size="md"
                    variant="primary"
                    type="submit"
                >
                    {{ editMode ? "Mettre à jour" : "Créer" }}
                </app-button>
                <app-button
                    *ngIf="editMode"
                    size="md"
                    (click)="resetForm()"
                >
                    Annuler
                </app-button>
            </div>
        </form>
    </div>

    <!-- Table Section -->
    <app-datatable
      [data]="niveaux"
      [columns]="columns"
      title="Liste des Niveaux"
      fileName="niveaux"
      [showExportButtons]="true"
      [pageSize]="10"
      (onEdit)="onEdit($event)"
      (onDelete)="onDelete($event)">
    </app-datatable>
</div>
