<div>
    <app-page-breadcrumb pageTitle="Gestion des Filières" />

    <!-- Form Section -->
    <div class="rounded-sm border border-stroke  p-4 mb-6">
        <h3 class="font-medium text-black dark:text-white text-lg mb-4">{{ editMode ? 'Modifier' : 'Créer' }} une Filière</h3>
        <form (ngSubmit)="onSubmit()" #myForm="ngForm">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                <div>
                    <app-label>Libellé</app-label>
                    <app-input-field
                        placeholder="Ex : Génie Logiciel"
                        id="libelle"
                        [(ngModel)]="filiere.libelle"
                        name="libelle"
                        required
                    ></app-input-field>
                </div>
                <div>
                    <app-label>Description</app-label>
                    <app-input-field
                        placeholder="Description de la filière"
                        id="description"
                        [(ngModel)]="filiere.description"
                        name="description"
                    ></app-input-field>
                </div>
                <div>
                    <app-label>Niveau</app-label>
                    <select
                        id="niveau"
                        [(ngModel)]="filiere.niveau"
                        name="niveau"
                        required
                        class="dark:bg-dark-900 h-[42px] w-full rounded-lg border
                         border-gray-300 bg-transparent py-2.5 px-4 text-sm text-gray-800 shadow-theme-xs
                          placeholder:text-gray-400 focus:border-brand-300 focus:outline-hidden focus:ring-3
                           focus:ring-brand-500/10 dark:border-gray-700 dark:bg-gray-900
                            dark:text-white/90 dark:placeholder:text-white/30 dark:focus:border-brand-800"
                    >
                        <option [ngValue]="undefined" disabled>Sélectionner un niveau</option>
                        <option *ngFor="let n of niveaux" [ngValue]="n">{{ n.libelle }}</option>
                    </select>
                </div>
            </div>

            <div class="flex justify-end gap-4 mt-6">
                <app-button
                    size="md"
                    variant="primary"
                    type="submit"
                >
                    {{ editMode ? "Mettre à jour" : "Créer" }}
                </app-button>
                <app-button
                    *ngIf="editMode"
                    size="md"
                    (click)="resetForm()"
                >
                    Annuler
                </app-button>
            </div>
        </form>
    </div>

    <!-- Table Section -->
    <app-datatable
      [data]="filieres"
      [columns]="columns"
      title="Liste des Filières"
      fileName="filieres"
      [showExportButtons]="true"
      [pageSize]="10"
      (onEdit)="onEdit($event)"
      (onDelete)="onDelete($event)">
    </app-datatable>
</div>
